

<% @projects.each do |project| %>

<div class="project_top">
<%= render partial: 'project_top',locals: {project:project} %>
</div>
  
    <div class="tasks">  
<%= render partial: 'tasks/tasks', locals: {project:project}%>
  </div>
<% end %>

<%= form_for Project.new , method: :post, :remote=>true, :html=> {:style=>"display: inline;",:class=>"form-inline create_project",:attr=>'data-no-turbolink' } do |f| %>

  <div align="center" style="margin-top:30px;">
  <%= button_tag(type: 'submit', class: "btn btn-primary btn-large") do %>
  <i class="icon-plus icon-large"></i> New Project
  <% end %>
  </div>
<% end %>
